<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
	<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script src="script.js">
	</script>
	<h1 class="welcome">Welcome to our motivational Exercise app!</h1>

	<h3 class="instructions">This page is all about me, the creator, the legend - Madi Moore - and my journey creating this site.</h3>
  <h5 class = "about">Hi! My name is Madi Moore. I started my company, Madi's Awesome Essentials, when I was four. It was a real thing, believe it or not - I sold at my local farmer's market! The company, as a matter of fact, is still operating today, though with school and a pandemic, I've been too busy/lazy to actually produce product. Sorry! This site is actually something that came from an idea I had about three years ago - you'd install an app on your phone. This would have a video game on it that was REAAALLY addictive, but the only way to play it was to do schoolwork or exercise. I had A LOT of ideas for this. I hope you enjoy this site, even though it's still in construction.</h5>
<h6>My favorite food today is {{ffood}}</h6>
  </body>
</html>