<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
	<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <a href = "https://madi-flask-site.rebeleah.repl.co/" class = "welcome"> Want to return to our home page? Click here!</a>
	<h1 class="welcome"> Welcome to my app! </h1>
	<h2 class = "welcome"> Congratulations! You earned {{exmin}} minutes!</h2>
  <h3 class="construction notice"> Please keep in mind this website is still under construction. However, you can look above for the link to our page with the planned updates!</h3>
  </body>
</html>